* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  /* debug */
  /* border: 1px dashed red; */
}

body {
  margin: 0 0;
}

.container,
.right,
.left-block {
  display: flex;
}

.container,
.right-block {
  /* for mobile view */
  flex-wrap: wrap;
}

.left {
  flex: 3;
}

.left-heading {
  font-weight: bold;
  font-size: 2em;
  padding: 60px;
  max-height: 50px;
  text-align: left;
}

.left-block {
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.left-content {
  flex: 1;
  max-height: 40%;
  padding: 5%;
  text-align: center;
  /* position: relative; */
}

img {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* margin: auto; */
  max-width: 90%;
  /* max-height: 90%; */
  border-radius: 10px;
}

.right {
  flex: 5;
  background-color: #086457;
  flex-direction: column;
  color: white;
}

.right-block {
  display: flex;
}

.right-heading {
  flex: 1.25;
  padding: 2em;
  font-weight: bold;
  font-size: 25px;
  padding-top: 1.5em;
  padding-bottom: 0;
}

.right-content {
  flex: 1.75;
  font-size: 18px;
  text-align: justify;
  padding: 2em;
}

/* RESPONSIVE MOBILE VIEW */

@media (max-width: 768px) {
  /* for better landscape view */
  .container {
    flex-direction: column;
  }

  .left-heading {
    text-align: center;
  }

  .left {
    margin-bottom: 5%;
  }

  .right-heading {
    padding: 1.5em;
  }
}
